/* estilo das paginas */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #efe3d7, #efb36e); /* Degradê */
    background-attachment: fixed; /* pro fundo não se mover ao rolar a página */
}

header {
    background-color: #d38209;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    color: #333;
}

main {
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}

.card a {
    display: block;
    margin-top: 10px;
    padding: 8px;
    background-color: #d38209;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.card a:hover {
    background-color: #d38209;
}

#item-details {
    margin-top: 20px;
}

.center {
    text-align: center;

}

form {
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    flex-direction: column;
}


/*  Contato */

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    gap: 30px; /* Espaço entre a imagem e as informações */
}

.contact-image img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra  */
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px; /* Espaço entre as caixas de informações */
}

.info-box {
    display: flex;
    align-items: center;
    background-color: #fdfdfd;
    border: 1px solid #f1c40f;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 15px; /* epaço ícone e texto */
}

.info-box i {
    font-size: 24px;
    color: #f1c40f;
    flex-shrink: 0; /*manter tamanho do icone */
}

.info-box h2 {
    color: #333;
    margin-bottom: 5px; /* espaço inferior do título */
}

.info-box p, .info-box a {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.info-box div {
    display: flex;
    flex-direction: column;
}

.info-box a {
    text-decoration: none;
    color: #f1c40f;
}

.info-box a:hover {
    text-decoration: underline;
}


/* login*/

#login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(19, 18, 18, 0.645); /* sombra da caixa maior */
    border-radius: 10px;
    background: linear-gradient(to bottom, #f1d7c1, #e77d3c); /* Degradê */
}



#login-container input[type="email"], 
#login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* botão */
#login-container input[type="submit"] {
    width: 100%;
    background-color: #ff6f00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
}
 /*efeito de cor do botão*/

#login-container input[type="submit"]:hover {
    background-color: #e65a00; 
    transform: scale(1.07); /* efeito de aumentar */
    transition: transform 0.3s ease, background-color 0.3s ease; 
}


#login-container label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

