/* INICIAL ALUNO */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c; /* Fundo escuro */
}

.sidebar {
    width: 20%;
    background-color: #333; 
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar-title {
    font-size: 24px;
    color: #ff6600; 
    margin-bottom: 20px;
}

.sidebar-links a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-links a:hover {
    background-color: #ff6600; 
}

.content {
    width: 80%;
    background-color: #262626; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f4f4f4; /* Cor clara para o texto */
}

.user-photo {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    margin-bottom: 20px; 
    border: 3px solid #ff6600; 
}

.user-details {
    text-align: center; 
    margin-top: 15px; 
}

h2, h4 {
    color: #f4f4f4; 
}

.buttons {
    display: flex; 
    flex-direction: column; /* Organiza os itens dentro do contêiner em coluna  */
    margin-top: 20px; 
}

.btn {
    background-color: #333;  
    color: #ff6600; 
    border: 2px solid #ff6600;  
    border-radius: 15px; 
    padding: 15px 30px;  
    font-size: 20px;  
    margin: 10px;  
    cursor: pointer;  
    transition: background-color 0.3s; /* Animação suave na mudança de cor de fundo */
}

.btn:hover {
    background-color: #ff6600;  
    color: #1c1c1c; /* Texto escuro com o hover */
}