<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercícios</title>
    <link rel="stylesheet" href="/static/css/exercicio.css">
</head>

<body>
    <div class="container">
        <h1>Selecione os Exercícios</h1>
    
        <div id="exercise-container"></div>
        
        <a href="criarexercicio.html">
            <button id="add-new-exercise">Criar Novo Exercícios</button>
        </a>
        <button class="btn-voltar" onclick="window.location.href='inicialprofessor.html'">VOLTAR</button>

    </div>

    <script src="/static/js/exercicio.js"></script>
</body>

</html>