<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">  <!-- Define a codificação de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Configura a visualização responsiva -->
    <title>Página Inicial Professor</title>  <!-- Título da página -->
    <link rel="stylesheet" href="/static/css//inicial-professor.css">  <!-- Link para o arquivo CSS -->
</head>


<body>
    <div class="sidebar">  <!-- Barra lateral -->
        <div class="sidebar-title">
            <h1>GYM CRUZEIRO</h1>  <!-- Título da barra lateral -->
        </div>

        <div class="sidebar-links">  <!-- Links da barra lateral -->
            <a href="perfilprofessor.html" id="btn-perfil">MEU PERFIL</a>  <!-- Link para a página de perfil do professor -->
        </div>
    </div>

    <div class="content">  <!-- Conteúdo principal da página -->
        <div>
            <div>
                <img src="/static/imgicons/masculino.jpg" alt="Foto do Professor" class="user-photo">  <!-- Foto do professor -->
            </div>

            <div class="user-details">  <!-- Detalhes do usuário -->
                <h2>Carlos Oliveira</h2>  <!-- Nome do professor -->
                <h4>Professor</h4>  <!-- Tipo de usuário -->
            </div>
        </div>

        <div class="buttons">  <!-- Seção de botões -->
            <a href="exercicio.html">
                <button class="btn">EXERCÍCIOS</button>
            </a> 
            <a href="treino.html">
                <button class="btn">TREINOS</button>
            </a> 
            <a href=" ">
                <button class="btn">ALUNOS</button>
            </a> 
            
        </div>
    </div>

    <script src="/static/js/inicialprofessor.js"></script>  <!-- Link para o arquivo JavaScript -->
</body>

</html>
