<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8"> <!-- Define a codificação de caracteres como UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Configura a visualização responsiva -->
    <title>Página Inicial ADM</title> <!-- Título da página -->
    <link rel="stylesheet" href="/static/css/inicial-adm.css"> <!-- Link para o arquivo CSS -->
</head>

<body>
    <div class="sidebar"> <!-- Barra lateral -->
        <div class="sidebar-title">
            <h1>GYM CRUZEIRO</h1> <!-- Título da barra lateral -->
        </div>

        <div class="sidebar-links"> <!-- Links da barra lateral -->
            <a href="#" id="meu-perfil">MEU PERFIL</a> <!-- Link para a página de perfil do aluno -->
        </div>
    </div>

    <div class="content"> <!-- Conteúdo principal da página -->
        <div>
            <div>
                <img src="/static/imgicons/" alt="Foto do Usuário" class="user-photo"> <!-- Foto do usuário -->
            </div>

            <div class="user-details"> <!-- Detalhes do usuário -->
                <h2>Rafael</h2> <!-- Nome do usuário -->
                <h4>Administração</h4> <!-- Tipo de usuário -->
            </div>
        </div>

        <div class="buttons"> <!-- Seção de botões -->
            <button class="btn" id="treinos">ALUNOS</button> <!-- Botão para acessar treinos -->
            <button class="btn" id="resumo">PROFESSORES</button> <!-- Botão para ver resumo do progresso -->
        </div>
    </div>

    <script src="/static/js/inicialadm.js"></script> <!-- Link para o arquivo JavaScript -->
</body>

</html>
