<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="{{ url_for('login_submit') }}" method="POST">   <!-- aqui para mudar o destino apos o login efetuado-->
            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="btn-login"> Entrar</button>
            <p class="register-text">Não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>
        </form>
    </div>

    <footer>
        <p>&copy; Gym Cruzeiro All Rights Reserved 2024</p>
        <p><a href="TermodeUso.html" target="_blank">Termo de Uso</a></p>
    </footer>
</body>

</html>