<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css//loginprofessor.css">
    <title>Login</title>
</head>

<body>
    <div class="login-container">
        <h2>Login Professor</h2>
        <form action="inicialprofessor.html" method="POST"><!-- aqui para mudar o destino apos o login efetuado-->
            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn-login">Entrar</button>
        </form>
    </div>


    <footer>
        <div class="container">
            <p>&copy; Gym Cruzeiro All Rights Reserved 2024</p>
        </div>
    </footer>

</body>

</html>