<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinos</title>
    <link rel="stylesheet" href="/static/css/treino.css">
</head>
<body>
    <div class="header">
        <h1>GYM CRUZEIRO</h1>
    </div>
    <div class="title-container">
        <h2>TREINOS</h2>
    </div>
    <div class="main-container">
        <ul id="treinos-list">
            <!-- List of treinos will be generated dynamically -->
        </ul>
        <div class="button-container">
            <button id="add-treino-button"> + Inserir novo treino</button>
            <a href="inicialprofessor.html" class="back-button">Voltar</a>
        </div>
    </div>
    <script src="/static/js/treino.js"></script>
</body>
</html>





