 /*estilo da pagina 1*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FFFFFF, #c26700); /* Degradê */
    background-attachment: fixed; /* pro fundo não se mover ao rolar a página */
}


.conteiner1{
    background-color: #f1bf62; /* cor do fundo da caixa*/
    border: 5px solid #8B4513; /* cor da borda */
    border-radius: 5px; /* canto */
    padding: 30px; /* Espaçamento interno */
    margin: 0px 100px; /* Espaçamento externo (acima e abaixo) */
    color: #040404; /* Texto */
    text-align: center; 
    box-shadow: 0 8px 20px rgba(19, 18, 18, 0.645); /* Sombra de profundidade */
    font-weight: bold; /* Texto do centro*/
    font-size: 35px; /* Tamanho */
    
}

/* box biceps*/
.biceps{
    background-color: #FFA500; 
    border: 2px solid #8B4513; 
    border-radius: 5px; /* Cantos */
    padding: 15px; /* Espaçamento interno */
    margin: 0px 300px; /* Espaçamento externo (acima e abaixo) */
    color: #8f4b08; /* Texto */
    text-align: center; /* Centraliza o texto */
    font-weight: bold; /* Texto em negrito */
    font-size: 18px; /* Tamanho */
}


/*caixas dos exercicos, pagina 1*/
.exercicios {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exercicio {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffa200;
    border: 2px solid #8f4b08; /* bordas da lista */
    border-radius: 5px;
    box-shadow: 0 7px 20px rgba(19, 18, 18, 0.645); /* Sombra para dar profundidade */
    text-decoration: none;
    color: #333; 
}

.exercicio img {
    width: 80px;
    height: 60px;
    margin-right: 20px;
}

.detalhes h2 {
    margin: 0;
    font-size: 18px;
    color:  #67440e;
}

.detalhes p {
    margin: 5px 0;
    font-size: 14px;
    color: #67440e;
}

/* efeito "crescer" */
.exercicio:hover {
    background-color: #ffc88d; /* cor ao passar o mouse */
    transform: scale(1.03); /* efeito de aumentar */
    transition: transform 0.3s ease, background-color 0.3s ease; 
    background-color: #ffc88d;  /*cor onde o mouse passa*/
}
 
 
/*pagina bicebis ex1*/

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 10px;
    background: linear-gradient(to bottom,  #FFFFFF, #c26700); /* Degradê de branco para laranja */
    background-attachment: fixed; /* pro fundo não se mover ao rolar a página */
}

.detalhes-exercicio {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E0E0E0; /* Cinza claro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #fee4b6; /* cor do fundo da caixa*/
    border-radius: 5px; /* canto */
    padding: 10px; /* Espaçamento interno */
    margin: 0px 100px; /* Espaçamento externo (acima e abaixo) */
    color: #8B4513;
    text-align: center; 
    box-shadow: 0 5px 20px rgba(19, 18, 18, 0.645); /* Sombra de profundidade */
    font-size: 35px; /* Tamanho */
}

 img {
    width: 500px;
    margin: 40px; /* Espaçamento externo (acima e abaixo) */
    border: 2px solid #8f4b08;

}

.detalhes-exercicio p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}




/*pagina bicebis ex2*/
body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 10px;
    background: linear-gradient(to bottom,  #FFFFFF, #c26700); /* Degradê de branco para laranja */
    background-attachment: fixed; /* pro fundo não se mover ao rolar a página */
}

.detalhes-exercicio {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E0E0E0; /* Cinza claro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #fee4b6; /* cor do fundo da caixa*/
    border-radius: 5px; /* canto */
    padding: 10px; /* Espaçamento interno */
    margin: 0px 100px; /* Espaçamento externo (acima e abaixo) */
    color: #8B4513;
    text-align: center; 
    box-shadow: 0 5px 20px rgba(19, 18, 18, 0.645); /* Sombra de profundidade */
    font-size: 35px; /* Tamanho */
}

 img {
    width: 500px;
    margin: 40px; /* Espaçamento externo (acima e abaixo) */
    border: 2px solid #8f4b08;

}

.detalhes-exercicio p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}