
/* PÁGINA CRIAR TREINO */

.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
}

form {
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.btn-criar {
    background-color: #e98e33;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-criar:hover {
    background-color: #ffad33;
}

.back-button {  
    font-size: 10px;  
    margin-left: 20px;  
}  
